/*core css file.*/

@import url("gravilex.css");
@import url("HelveticaBlk.css");
@import url("normalize.css");
@import url("foundation.css");

.header {
    display: none;
    clear: both;
    background: #101010;
    border-bottom: 3px solid #FFF;
    min-height: 46px;
    color: #FFF;
    font-size: 25px;
    padding: 3px;
}
.header .logo {
    float: left;
    color: #48fdbc;
    padding-left: 0px;
    position: fixed;
    top: 0;
    width: 190px;
}
.header .menu_icon {
    float: right;
    padding-right: 20px;
}
.header .disabledLink {
    color: #777;
    cursor: default;
}
.tagline {
    float: left;
    clear: left;
    font-size: 0.4em;
    padding-left: 15px;
}
.header.uncompressed {
    height: 130px;
}
.header.uncompressed menu {
    float: right;
    list-style: none;
    font-size: 12px;
}
.header.uncompressed menu li a{
    color: #FFF;
}
.page_info_json {
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lastIcon {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes lastIcon {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

.icons {
    position: relative;
    height: 300px;
}
.icon {
    width: 117px;
    position: absolute;
    opacity: 0;
    -webkit-animation: fadeInOut 1.3s ease;
            animation: fadeInOut 1.3s ease;
    margin: 12px 0 0 111px;
}
.icon:nth-child(2) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}
.icon:nth-child(3) {
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
}
.icon:nth-child(4) {
    -webkit-animation: lastIcon 0.75s 3.6s ease forwards;
            animation: lastIcon 0.75s 3.6s ease forwards;
}
.words {
    position: absolute;
    width: 190px;
    margin-left: 23px;
}

.sorting {
    display: none;
    clear: both;
    list-style: none;
    font-size: 11px;
}
.sorting li.active {
    color: #48fdbc;
}
.sorting li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 3px;
}

.video_container {
    margin: 0 auto;
    width: 100%;
    float: left;
}
.item {
    opacity: 0;
}
.item.loaded {
    opacity: 1;
}
.item, .grid-sizer { width: calc(50% - 3px); }
.item.w2 { width: calc(100% - 3px); }
.item a {
    background: #48fdbc;
}
.item a .details {
    display: none;
    z-index: 100;
    position: absolute;
    background: #48fdbc;
    color: #101010;
    height: 100%;
    width: 100%;
    float: left;
    padding: 15px;
    opacity: 0.95;
}
.item a:hover .details {
    display: block;
}
.item a img {
    float: left;
}
.item a .details .topic {
    font-size: 21px;
    line-height: 23px;
    font-family: "Helvetica Neue";
}
.item a .details .speaker {
    font-size: 18px;
    font-style: light;
}


.video_container .item span {
    color: #FFF;
    position: absolute;
    clear: both;
    display: block;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    padding: 2px 2px 3px 10px;
}
.video_container .item span.title {
    margin: 0 0 20px 0;
    font-size: 0.8em;
}
.video_container .item span.speaker {
    margin: 0 0 0 0;
    font-size: 0.6em;
}
.video_container .item img {
}

body.talks {
    background: #1B1B1B;
}

.youTubeVideo iframe, .youTubeVideo object, .youTubeVideo embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin-bottom: 20px;
    display: block;
    clear: both;
}
.youTubeVideo, .presentation_details {
    width: 100%;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.presentation_details {
    height: 300px;
    background: #2F2F2F;
    padding: 2em 3% 0 3%;
    border-bottom: 1px solid #48fdbc;
}
.presentation_details h2, .presentation_details h3 {
    display: block;
    clear: both;
    color: #fff;
    font-weight: normal;
    font-family: "HelveticaNeue-Ultralight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.03em;
}
.presentation_details h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    margin-top: -6px;
    margin-bottom: 24px;
}
.stats img {
    width: 45px;
    margin-top: -3px;
}
.stats img.heart {
    width: 25px;
    margin-left: -3px;
    margin-top: -3px;
}
.stats {
    float: left;
    width: 100px;
    color: #48fdbc;
    font-size: 0.8em;
}
.like_stats {
    margin-top: 5px;
}
.plays_stats {
    margin-left: -25px;
}
.plays_stats span {
    margin-left: -10px;
}
.comments_form {
    margin: 20px auto 0 auto;
}
.comments_bar {
    width: 80%;
    float: left;
    padding: 4px 0 0 0;
    height: 50px;
    background: #3D3D3D;
}
.comments_bar img {
    width: 100px;
    float: left;
    margin: -13px 0 0 -25px; 
}
.comments_bar input, .comments_bar input:focus {
    background: none;
    border: none;
    padding: 19px 0;
    width: calc(100% - 100px);
    color: #FFF;
    float: left;
    font-size: 1em;
    box-shadow: none;
    margin-top: 2px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #666;
}
.comment_submit, .comment_submit:focus{
    width: 18%;
    margin: 0 0 0 2%;
    background: #48fdbc;
    color: #101010;
    box-shadow: none;
    border: none;
    font-size: 1em;
    height: 50px;
    text-align: center;
    padding: 1em;
}
.comment_submit:hover {
    background: #3BCA97;
}
.submit_message {
    background: none;
    color: #2F2F2F;
    font-size: 1em;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    padding-top: 11px;
}
.submit_message.success {
    background: #48fdbc;
    color: #101010;
}
.submit_message.fail {
    background: #CC181E;
    color: #FFF;
}
.nextPrevTalks {
    position: absolute;
    top: 670px;
    width: calc(100% - 80px);
}
img.next, img.prev {
    position: relative;
    width: 40px;
    margin-left: 80px;
    float: right;
}
img.prev {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    float: left;
}

.row.page_comments {
    padding: 0 3% 0 3%;
    color: #fff;
    margin: 0;
    margin-left: 80px !important;
    width: calc(100% - 80px);

}

.page_comments .columns.comment {
    margin-top: 2px;
    padding: 18px 10px; 
}
.page_comments .border_bottom {
    height: 1px;
    width: 100%;
    background: #777;
}
a.logo_primary_font {
    font-size: 6em;
    font-weight: bold;
    color: #48fdbc;
    float: left;
    margin-bottom: -25px;
}
.motto {
    float: left;
    margin: 25px 0px 0 20px;
    font-size: 3em;
    color: #888888;
}
.saying {
    font-size: 0.9em;
    color: #888888;
}
.logo_color {
    color: #48fdbc;    
}
.bottomButton {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    margin-bottom: 0;
}

.buttonPadding {
    position: relative;
    padding-bottom: 70px;
}
.small_videos .panel {
    margin-top: -7px;
}
.button.success {
    background-color: #48fdbc;
    border-color: #FFF;
    color: #101010;
    font-weight: bold;
}
/* UPVOTE */
.voteing {
    width: 25px;
    margin: 0 auto;
}
.upvote, .downvote {
    font-size: 4em !important;
    margin: 0 auto;
    display: block;
    clear: both;
    width: 30px;
}
.upvote {
    margin-bottom: -40px;
}
.downvote {
    margin-top: -40px;
}
.count {
    text-align: center;
    width: 30px;
    display: block;
    font-size: 20px;
}

.default_page {
    background-color: #2F2F2F;
    color: #fff;
    max-width: 100%;
    height: 100%;
}
.default_page h1 {
    color: #FFF;
    font-weight: normal;
    font-family: "HelveticaNeue-Ultralight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.03em;
    margin-top: 58px;
}
.centered_text {
    width: 400px;
}
.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

/*** Small screens ***/
@media only screen {  /* Define mobile styles */
    .header.uncompressed menu {
        margin-top: -29px;
        padding-right: 15px;
    }
    .default_page h1 {
        margin-top: 78px;
    }
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    .header {
        display: none;
    }
    .header.mobile {
        display: block;
        position: fixed;
        height: 66px;
        width: 100%;
        z-index: 101;
    }
    .header.mobile a img { 
        width: 114px;
        padding: 0 0 0 0px;
        margin-top: -7px;
        margin-left: 10px;
    }
    .comment_submit, .comment_submit:focus {
        font-size: 0.8em;
        padding: 1.3em 0.8em;
    }
    .menu_icon {
        display: none;
    }
    .video_container {
        margin-top: 66px;
        margin-left: 0;
    }
    .youTubeVideo {
        margin-top: 68px;        
    }
    .presentation_details .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .default_page h1 {
        margin-top: 78px;
    }
}

/*** Medium screens ***/
@media only screen and (min-width: 40.063em) { /* min-width 641px, medium screens */
    .item, .grid-sizer { width: calc(25% - 3px); }
    .item.w2 { width: calc(50% - 3px); }
    .header.mobile {
        display: none;
    }
    .header a {
        color: #FFF;
    }
    .header.compressed {
        display: block;
    }
    .header {
        display: none;
        border-bottom: none;
        color: #FFF;
        padding: 0px;
        position: fixed;
        height: 100%;
        border-right: 3px solid #FFF;
        z-index: 200;
        width: 80px;
        font-size: 40px;
    }
    .header .logo {
        float: none;
        padding: 0;
        display: block;
        clear: both;
        width: 90px;
        margin: 50px 0 0 -8px;
        height: 80px;
    }
    .tagline {
        font-size: 0.3em;
        width: 150px;
        margin: 0 auto;
        position: relative;
        margin-left: 50px;
    }
    .header .menu_icon {
        float: none;
        padding: 0;
        display: block;
        clear: both;
        width: 32px;
        margin-left: 24px;
        font-size: 30px;
        position: fixed;
        top: 160px;
    }
    .header.uncompressed {
        height: 100%;
        width: 230px;
    }
    .header.uncompressed .menu_close {
        margin: 0 0 0 170px;
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        color: #404140;
        padding: 20px;
    }
    .header.uncompressed .menu_close:hover {
        color: #48fdbc;
    }
    .header.uncompressed .logo {
        width: 160px;
    }
    .header.uncompressed menu {
        float: none;
        display: block;
        clear: both;
        list-style: none;
        font-size: 12px;
        margin: 0 0 0 -9px;
        text-align: left;
        width: 230px;
        position: fixed;
        top: 180px;
    }
    .header.uncompressed menu li {
        padding: 5px;
    }
    .video_container {
        margin: 0 auto;
        margin-left: 76px;
        width: calc(100% - 76px);
    }
    .video_container.menu_out {
        width: calc(100% - 227px);
        float: right;
    }
    .youTubeVideo { margin-top: 40px; }
    .youTubeVideo, .presentation_details {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
    .youTubeVideo.menu_out, .presentation_details.menu_out {
        margin-left: 230px;
        width: calc(100% - 230px);
    }
    .icon {
        margin: 9px 0 0 94px;
    }
    .default_page h1 {
        margin-top: 78px;
    }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1023px, use when QAing tablet-only issues */
    .item, .grid-sizer { width: calc(25% - 3px); }
    .item.w2 { width: calc(50% - 3px); }
    .youTubeVideo { margin-top: 40px; }
    .youTubeVideo, .presentation_details, .page_comments {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
    .youTubeVideo.menu_out, .presentation_details.menu_out, .page_comments.menu_out {
        margin-left: 230px;
        width: calc(100% - 230px);
    }
}

/*** Large screens ***/
@media only screen and (min-width: 64.063em) { /* min-width 1025px, large screens */
    .item, .grid-sizer { width: calc(25% - 3px); }
    .item.w2 { width: calc(50% - 3px); }
    .youTubeVideo { margin-top: 40px; }
    .youTubeVideo, .presentation_details {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
    .youTubeVideo.menu_out, .presentation_details.menu_out {
        margin-left: 230px;
        width: calc(100% - 230px);
    }
} 

@media only screen and (min-width: 64.063em) and (max-width: 90em) { /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
    .item, .grid-sizer { width: calc(25% - 3px); }
    .item.w2 { width: calc(50% - 3px); }
} 

/*** XLarge screens ***/
@media only screen and (min-width: 90.063em) { /* min-width 1441px, xlarge screens */
    .item, .grid-sizer { width: calc(20% - 3px); }
    .item.w2 { width: calc(40% - 3px); }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) { /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
    .item, .grid-sizer { width: calc(20% - 3px); }
    .item.w2 { width: calc(40% - 3px); }
} 

/*** XXLarge screens ***/
@media only screen and (min-width: 120.063em) { /* min-width 1921px, xxlarge screens */
    .item, .grid-sizer { width: calc(12.5% - 3px); }
    .item.w2 { width: calc(25% - 3px); }
} 



